
Welcome
<p><%= @users.email %></p>



<a href="/users/<%= @users.id %>/edit">Edit profile</a>

<form action="/users" method="post">

  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="user_id" value="<%= @users.id %>">
  <input type="submit" value="delete profile">
</form>

<!-- <form action="/users/<%=@users.id%>" method="post" >

  <p> Email: <input type="email" name="email" value="<%= @users.email %>" required></p>
  <p> <input type="submit" value="submit"></p>
  <input type="hidden" name="_method" value="delete">
</form> -->
